{%extends 'base.html'%}

{%block head%}
    <title>Withdraw</title>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='withdraw.css') }}" type="text/css">
{%endblock%}


{%block body%}
      <div class="main-container effect-on-hover">
        <h3><a href="{{ url_for('main') }}" class="home-link">Home <i class="fa fa-home"></i></a></h3>
        <h1>Withdraw</h1>
        <div class="det">
            <p class="det-p effect-on-hover" id="det-p-1">Withdrawn Cash <br> $ {{withdrawn_cash }} </p>
            <p class="det-p effect-on-hover">Withdrawable Amount <br> $ {{withrawable_amount}} </p>
        </div>
        <div class="withdraw-input-container effect-on-hover">
            <form method="POST">
                <div class="input-container">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="form-error-msg">{{ message[1] }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <input type="text" placeholder="Enter Amount" name="amount" required>
                    <input type="text" placeholder="Account Holder Name" name="holder-name" required>
                    <input type="text" placeholder="Bank Account Number" name="account-number" required>
                    <input type="text" placeholder="IFSC Code" name="ifsc-code" required>
                    <input type="text" placeholder="UPI ID" name="upi-id" required>
                </div>
                <button name="continue-button" value="submit" type="submit">Continue</button>
            </form>
        </div>
      </div>
{%endblock body%}
